<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>easybuy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ProductAddServlet</display-name>
    <servlet-name>ProductAddServlet</servlet-name>
    <servlet-class>Servlet.ProductAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductAddServlet</servlet-name>
    <url-pattern>/manage/ProductAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductListServlet</display-name>
    <servlet-name>ProductListServlet</servlet-name>
    <servlet-class>Servlet.ProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductListServlet</servlet-name>
    <url-pattern>/manage/ProductListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductDeleteServlet</display-name>
    <servlet-name>ProductDeleteServlet</servlet-name>
    <servlet-class>Servlet.ProductDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDeleteServlet</servlet-name>
    <url-pattern>/manage/ProductDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductModifyServlet</display-name>
    <servlet-name>ProductModifyServlet</servlet-name>
    <servlet-class>Servlet.ProductModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductModifyServlet</servlet-name>
    <url-pattern>/manage/ProductModifyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductModifyExeServlet</display-name>
    <servlet-name>ProductModifyExeServlet</servlet-name>
    <servlet-class>Servlet.ProductModifyExeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductModifyExeServlet</servlet-name>
    <url-pattern>/manage/ProductModifyExeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductViewServlet</display-name>
    <servlet-name>ProductViewServlet</servlet-name>
    <servlet-class>Servlet.ProductViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductViewServlet</servlet-name>
    <url-pattern>/ProductViewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductPreViewServlet</display-name>
    <servlet-name>ProductPreViewServlet</servlet-name>
    <servlet-class>Servlet.ProductPreViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductPreViewServlet</servlet-name>
    <url-pattern>/manage/ProductPreViewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CatListServlet</display-name>
    <servlet-name>CatListServlet</servlet-name>
    <servlet-class>Servlet.CatListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CatListServlet</servlet-name>
    <url-pattern>/manage/CatListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CatAddServlet</display-name>
    <servlet-name>CatAddServlet</servlet-name>
    <servlet-class>Servlet.CatAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CatAddServlet</servlet-name>
    <url-pattern>/manage/CatAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CatDeleteServlet</display-name>
    <servlet-name>CatDeleteServlet</servlet-name>
    <servlet-class>Servlet.CatDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CatDeleteServlet</servlet-name>
    <url-pattern>/manage/CatDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CatModifyServlet</display-name>
    <servlet-name>CatModifyServlet</servlet-name>
    <servlet-class>Servlet.CatModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CatModifyServlet</servlet-name>
    <url-pattern>/manage/CatModifyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CatModifyExeServlet</display-name>
    <servlet-name>CatModifyExeServlet</servlet-name>
    <servlet-class>Servlet.CatModifyExeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CatModifyExeServlet</servlet-name>
    <url-pattern>/manage/CatModifyExeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CatSonParent</display-name>
    <servlet-name>CatSonParent</servlet-name>
    <servlet-class>Bean.CatSonParent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CatSonParent</servlet-name>
    <url-pattern>/CatSonParent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategorySP</display-name>
    <servlet-name>CategorySP</servlet-name>
    <servlet-class>Dao.CategorySP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategorySP</servlet-name>
    <url-pattern>/CategorySP</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductCategoryDao</display-name>
    <servlet-name>ProductCategoryDao</servlet-name>
    <servlet-class>Dao.ProductCategoryDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductCategoryDao</servlet-name>
    <url-pattern>/ProductCategoryDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CatPreAddServlet</display-name>
    <servlet-name>CatPreAddServlet</servlet-name>
    <servlet-class>Servlet.CatPreAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CatPreAddServlet</servlet-name>
    <url-pattern>/manage/CatPreAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductPreAddServlet</display-name>
    <servlet-name>ProductPreAddServlet</servlet-name>
    <servlet-class>Servlet.ProductPreAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductPreAddServlet</servlet-name>
    <url-pattern>/manage/ProductPreAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Frontend</display-name>
    <servlet-name>Frontend</servlet-name>
    <servlet-class>Servlet.Frontend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Frontend</servlet-name>
    <url-pattern>/Frontend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FrontendProList</display-name>
    <servlet-name>FrontendProList</servlet-name>
    <servlet-class>Servlet.FrontendProList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontendProList</servlet-name>
    <url-pattern>/FrontendProList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShoppingServlet</display-name>
    <servlet-name>ShoppingServlet</servlet-name>
    <servlet-class>Servlet.ShoppingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoppingServlet</servlet-name>
    <url-pattern>/ShoppingServlet</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <description></description>
    <display-name>newsshowServlet</display-name>
    <servlet-name>newsshowServlet</servlet-name>
    <servlet-class>Servlet.newsshowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newsshowServlet</servlet-name>
    <url-pattern>/manage/newsshowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>newsaddServlet</display-name>
    <servlet-name>newsaddServlet</servlet-name>
    <servlet-class>Servlet.newsaddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newsaddServlet</servlet-name>
    <url-pattern>/manage/newsaddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>newsupdateServlet</display-name>
    <servlet-name>newsupdateServlet</servlet-name>
    <servlet-class>Servlet.newsupdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newsupdateServlet</servlet-name>
    <url-pattern>/manage/newsupdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateServlet</display-name>
    <servlet-name>updateServlet</servlet-name>
    <servlet-class>Servlet.updateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateServlet</servlet-name>
    <url-pattern>/manage/updateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>newsdeleteServlet</display-name>
    <servlet-name>newsdeleteServlet</servlet-name>
    <servlet-class>Servlet.newsdeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newsdeleteServlet</servlet-name>
    <url-pattern>/manage/newsdeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fnewsshowServlet</display-name>
    <servlet-name>fnewsshowServlet</servlet-name>
    <servlet-class>Servlet.fnewsshowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fnewsshowServlet</servlet-name>
    <url-pattern>/fnewsshowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fnewsviewServlet</display-name>
    <servlet-name>fnewsviewServlet</servlet-name>
    <servlet-class>Servlet.fnewsviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fnewsviewServlet</servlet-name>
    <url-pattern>/fnewsviewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>commentshowServlet</display-name>
    <servlet-name>commentshowServlet</servlet-name>
    <servlet-class>Servlet.commentshowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>commentshowServlet</servlet-name>
    <url-pattern>/manage/commentshowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>comdeleteServlet</display-name>
    <servlet-name>comdeleteServlet</servlet-name>
    <servlet-class>Servlet.comdeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>comdeleteServlet</servlet-name>
    <url-pattern>/manage/comdeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fcommentshowServlet</display-name>
    <servlet-name>fcommentshowServlet</servlet-name>
    <servlet-class>Servlet.fcommentshowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fcommentshowServlet</servlet-name>
    <url-pattern>/fcommentshowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fcommentaddServlet</display-name>
    <servlet-name>fcommentaddServlet</servlet-name>
    <servlet-class>Servlet.fcommentaddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fcommentaddServlet</servlet-name>
    <url-pattern>/fcommentaddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>comupdateServlet</display-name>
    <servlet-name>comupdateServlet</servlet-name>
    <servlet-class>Servlet.comupdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>comupdateServlet</servlet-name>
    <url-pattern>/manage/comupdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>commentupdateServlet</display-name>
    <servlet-name>commentupdateServlet</servlet-name>
    <servlet-class>Servlet.commentupdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>commentupdateServlet</servlet-name>
    <url-pattern>/manage/commentupdateServlet</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
    <description></description>
    <display-name>OrderqueryByeo_id</display-name>
    <servlet-name>OrderqueryByeo_id</servlet-name>
    <servlet-class>Servlet.OrderqueryByeo_id</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderqueryByeo_id</servlet-name>
    <url-pattern>/manage/OrderqueryByeo_id</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderqueryByeo_id1</display-name>
    <servlet-name>OrderqueryByeo_id1</servlet-name>
    <servlet-class>Servlet.OrderqueryByeo_id1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderqueryByeo_id1</servlet-name>
    <url-pattern>/manage/OrderqueryByeo_id1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderqueryByeo_id2</display-name>
    <servlet-name>OrderqueryByeo_id2</servlet-name>
    <servlet-class>Servlet.OrderqueryByeo_id2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderqueryByeo_id2</servlet-name>
    <url-pattern>/manage/OrderqueryByeo_id2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderqueryAll</display-name>
    <servlet-name>OrderqueryAll</servlet-name>
    <servlet-class>Servlet.OrderqueryAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderqueryAll</servlet-name>
    <url-pattern>/manage/OrderqueryAll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderdeleteServlet</display-name>
    <servlet-name>OrderdeleteServlet</servlet-name>
    <servlet-class>Servlet.OrderdeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderdeleteServlet</servlet-name>
    <url-pattern>/manage/OrderdeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderupdateServlet</display-name>
    <servlet-name>OrderupdateServlet</servlet-name>
    <servlet-class>Servlet.OrderupdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderupdateServlet</servlet-name>
    <url-pattern>/manage/OrderupdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderqueryByeo_user_name</display-name>
    <servlet-name>OrderqueryByeo_user_name</servlet-name>
    <servlet-class>Servlet.OrderqueryByeo_user_name</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderqueryByeo_user_name</servlet-name>
    <url-pattern>/manage/OrderqueryByeo_user_name</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderupdateServlet2</display-name>
    <servlet-name>OrderupdateServlet2</servlet-name>
    <servlet-class>Servlet.OrderupdateServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderupdateServlet2</servlet-name>
    <url-pattern>/manage/OrderupdateServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderqueryByuse_name</display-name>
    <servlet-name>OrderqueryByuse_name</servlet-name>
    <servlet-class>Servlet.OrderqueryByuse_name</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderqueryByuse_name</servlet-name>
    <url-pattern>/OrderqueryByuse_name</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>loginservlet</display-name>
    <servlet-name>loginservlet</servlet-name>
    <servlet-class>Servlet.loginservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginservlet</servlet-name>
    <url-pattern>/loginservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registerservlet</display-name>
    <servlet-name>registerservlet</servlet-name>
    <servlet-class>Servlet.registerservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerservlet</servlet-name>
    <url-pattern>/registerservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addusersevlet</display-name>
    <servlet-name>addusersevlet</servlet-name>
    <servlet-class>Servlet.addusersevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addusersevlet</servlet-name>
    <url-pattern>/addusersevlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>seleuserservlet</display-name>
    <servlet-name>seleuserservlet</servlet-name>
    <servlet-class>Servlet.seleuserservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>seleuserservlet</servlet-name>
    <url-pattern>/seleuserservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>selectuservlet</display-name>
    <servlet-name>selectuservlet</servlet-name>
    <servlet-class>Servlet.selectuservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>selectuservlet</servlet-name>
    <url-pattern>/selectuservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserUpdateServlet</display-name>
    <servlet-name>UserUpdateServlet</servlet-name>
    <servlet-class>Servlet.UserUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUpdateServlet</servlet-name>
    <url-pattern>/UserUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>alteruservlet</display-name>
    <servlet-name>alteruservlet</servlet-name>
    <servlet-class>Servlet.alteruservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>alteruservlet</servlet-name>
    <url-pattern>/alteruservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteuservlet</display-name>
    <servlet-name>deleteuservlet</servlet-name>
    <servlet-class>Servlet.deleteuservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteuservlet</servlet-name>
    <url-pattern>/manage/deleteuservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registservlet</display-name>
    <servlet-name>registservlet</servlet-name>
    <servlet-class>Servlet.registservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registservlet</servlet-name>
    <url-pattern>/registservlet</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
    <description></description>
    <display-name>FileUpload</display-name>
    <servlet-name>FileUpload</servlet-name>
    <servlet-class>Servlet.FileUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUpload</servlet-name>
    <url-pattern>/FileUpload</url-pattern>
  </servlet-mapping>
</web-app>